n8n_workflows/h1_(1).json
{
  "name": "h1",
  "nodes": [
    {
      "parameters": {
        "topic": "h1/hello",
        "sendInputData": false,
        "message": "={ \"agent\":\"{{ $json.agent }}\",\"command\":\"{{ $json.command }}\"\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTool",
      "typeVersion": 1,
      "position": [
        4384,
        640
      ],
      "id": "fe1f6dc8-ac4f-4c99-8025-6059f8825d74",
      "name": "h1_topic",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Push messages to command center",
        "topic": "command_center/topic",
        "sendInputData": false,
        "message": "={\"message\":\"{{$json.message}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTool",
      "typeVersion": 1,
      "position": [
        4240,
        640
      ],
      "id": "d57a6310-fa73-40dc-90ba-12e00c2fb354",
      "name": "comman_center_topic",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Publish H1 robot status updates (e.g. stopped, walking) to the h1/status topic so the command center knows when to trigger the Franka arm",
        "topic": "h1/status",
        "sendInputData": false,
        "message": "={\"agent\":\"h1\",\"status\":\"{{$json.status}}\",\"message\":\"{{$json.message}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTool",
      "typeVersion": 1,
      "position": [
        4528,
        640
      ],
      "id": "85562cc3-f90d-4034-8918-0a52c422462b",
      "name": "h1_status_topic",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4096,
        560
      ],
      "id": "ab5aa6d7-2bae-4b45-98aa-b74080c58c9a",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "xwOOTjttj1JeOlXR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Perform below command\n{{ $json.command }}\n{{ $json.content }}\nConfirm success and failure ",
        "options": {
          "systemMessage": "You are the H1 Agent controlling the H1 Unitree humanoid robot. You can use publish tools to send messages to MQTT topics. Invoke tools once only.\n\nARCHITECTURE:\nThe Isaac Sim script automatically publishes H1 status to h1/status when H1 stops or resumes. The script also publishes camera images to h1/camera/image_stream. Your role is to process camera images and report findings to the command center.\n\nIMPORTANT RULES:\n1. When the camera analysis detects an object on the floor, you MUST:\n   a. Publish to the command_center_topic tool with message: \"H1 camera detected object on floor. Requesting manipulator pickup.\"\n   b. Optionally publish to h1_status_topic to confirm the detection.\n2. When no object is detected, continue normal operation. Do NOT publish a stopped status.\n3. The H1_2 robot is independent and should NOT be affected by your status changes.\n4. The Isaac Sim script handles stop/resume status publishing automatically. The Franka arm is triggered by the command center dispatching to the mobile-manipulator sub-workflow, which publishes to franka/control.\n5. After the Franka completes its task, the Isaac Sim script publishes {\"status\":\"walking\"} to h1/status automatically.\n\nYour input to the tool call would be a JSON payload:\n{\n  \"message\": \"Object detected on floor.\",\n  \"agent\": \"h1 agent\",\n  \"status\": \"stopped\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4096,
        384
      ],
      "id": "569a12f6-f1af-49b2-97c3-ae2ff8253fd4",
      "name": "H1 Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4592,
        384
      ],
      "id": "fb0b516e-0e07-4502-a84d-9b7e172d487e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "qwen3-vl:8b",
          "mode": "list",
          "cachedResultName": "qwen3-vl:8b"
        },
        "text": "This image is captured by the H1 Unitree humanoid robot during its traverse of the warehouse. Analyze this image for any objects present on the warehouse floor that may pose an operational concern.\n\nIf an object is found on the floor, return the string: \"H1 robot stopped. Object found on the floor. Send pickup command to manipulator.\"\nIf no object is found, return an empty string.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        3840,
        304
      ],
      "id": "4765e04b-1738-4552-9af3-0f018ac7c588",
      "name": "Analyze image",
      "credentials": {
        "ollamaApi": {
          "id": "xwOOTjttj1JeOlXR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3648,
        304
      ],
      "id": "be890e5c-9daf-4066-b925-dfae33c35db6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "topics": "/spot/camera/image_stream",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        3472,
        304
      ],
      "id": "c815bea6-7c80-40fe-b960-767c0eb14b58",
      "name": "camera_feed",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3840,
        576
      ],
      "id": "48a08c85-fd22-404c-a9f9-b8cb0f0aa820",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "H1 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "h1_topic": {
      "ai_tool": [
        [
          {
            "node": "H1 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "comman_center_topic": {
      "ai_tool": [
        [
          {
            "node": "H1 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "h1_status_topic": {
      "ai_tool": [
        [
          {
            "node": "H1 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "H1 Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "H1 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camera_feed": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "H1 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5cfcfd37-a6f3-4ecb-bd97-ab6f5fec1622",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "276ee9c56565b807020e2df231053699a8902632491bedcf4ca42b9258be676a"
  },
  "id": "vbdbrDrrYCXPd6xP",
  "tags": []
}