n8n_workflows/h1_2.json
{
  "name": "h1_2",
  "nodes": [
    {
      "parameters": {
        "topic": "h1_2/control",
        "sendInputData": false,
        "message": "={\"agent\":\"h1_2\",\"command\":\"{{ $json.command }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTool",
      "typeVersion": 1,
      "position": [
        4384,
        640
      ],
      "id": "c1a2b3d4-h1-2-control-tool",
      "name": "h1_2_control_topic",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Push messages to command center to report H1_2 status and findings",
        "topic": "command_center/topic",
        "sendInputData": false,
        "message": "={\"agent\":\"h1_2\",\"message\":\"{{$json.message}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTool",
      "typeVersion": 1,
      "position": [
        4240,
        640
      ],
      "id": "d2e3f4a5-h1-2-cc-tool",
      "name": "comman_center_topic",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Publish H1_2 robot status updates (e.g. patrolling, stopped) to the h1_2/status topic so the command center can track H1_2",
        "topic": "h1_2/status",
        "sendInputData": false,
        "message": "={\"agent\":\"h1_2\",\"status\":\"{{$json.status}}\",\"message\":\"{{$json.message}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.mqttTool",
      "typeVersion": 1,
      "position": [
        4528,
        640
      ],
      "id": "e3f4a5b6-h1-2-status-tool",
      "name": "h1_2_status_topic",
      "credentials": {
        "mqtt": {
          "id": "ghqbxQn6zwOGFKzq",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4096,
        560
      ],
      "id": "f4a5b6c7-h1-2-llm",
      "name": "Ollama Chat Model H1_2",
      "credentials": {
        "ollamaApi": {
          "id": "xwOOTjttj1JeOlXR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Perform below command\n{{ $json.command }}\n{{ $json.content }}\nConfirm success and failure ",
        "options": {
          "systemMessage": "You are the H1_2 Agent controlling the secondary H1 Unitree humanoid robot (H1_2). You are a patrol scout. You can use publish tools to send messages to MQTT topics. Invoke tools once only.\n\nARCHITECTURE:\nYou are the second H1 robot in the warehouse. The primary H1 robot (H1_1) handles object detection and stops near objects for the Franka manipulator to pick up. Your primary role is to continue patrolling the warehouse even when H1_1 has stopped.\n\nIMPORTANT RULES:\n1. When you receive a 'continue_patrol' command, you MUST:\n   a. Publish to h1_2_control_topic with command: 'continue_patrol' to keep walking.\n   b. Publish to comman_center_topic with message: 'H1_2 acknowledges. Continuing patrol ahead.'\n   c. Publish to h1_2_status_topic with status: 'patrolling' and message: 'H1_2 continuing patrol.'\n2. When you receive a 'stay' command, you MUST:\n   a. Publish to h1_2_control_topic with command: 'stay' to stop.\n   b. Publish to comman_center_topic with message: 'H1_2 holding position.'\n   c. Publish to h1_2_status_topic with status: 'stopped' and message: 'H1_2 stopped and holding position.'\n3. You are independent from H1_1. H1_1 stopping does NOT mean you should stop.\n4. The command center (NEXUS) coordinates between you and H1_1. If H1_1 is closer to the object, the command center will tell you to continue patrolling.\n5. If you also detect an object but H1_1 is already handling it, just acknowledge and keep patrolling.\n\nYour input to the tool call would be a JSON payload:\n{\n  \"message\": \"H1_2 continuing patrol.\",\n  \"agent\": \"h1_2\",\n  \"command\": \"continue_patrol\",\n  \"status\": \"patrolling\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4096,
        384
      ],
      "id": "a5b6c7d8-h1-2-agent",
      "name": "H1_2 Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4592,
        384
      ],
      "id": "b6c7d8e9-h1-2-noop",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3840,
        384
      ],
      "id": "c7d8e9f0-h1-2-trigger",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model H1_2": {
      "ai_languageModel": [
        [
          {
            "node": "H1_2 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "h1_2_control_topic": {
      "ai_tool": [
        [
          {
            "node": "H1_2 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "comman_center_topic": {
      "ai_tool": [
        [
          {
            "node": "H1_2 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "h1_2_status_topic": {
      "ai_tool": [
        [
          {
            "node": "H1_2 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "H1_2 Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "H1_2 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-h1-2-workflow-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "276ee9c56565b807020e2df231053699a8902632491bedcf4ca42b9258be676a"
  },
  "id": "h1_2_workflow_id",
  "tags": []
}
